@import "compass/css3";
@import "base";

body {
  background-color: #f7f0f0;
  text-align: start;
  max-width: 720px;
}

h1 h2 {
  margin: 0;
}

header {
  background-color: white;
}

header h1 {
  text-align: center;
  font-size: 16px;
  color: #2d2c2c;
  display: block;
  padding: 5px 0;
  border-bottom: 2px dotted #ccc;
}

header .bio {
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  @include display-flex(inline-flex);
  margin: 10px 0;
}

header .bio .avatar {
  width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 5px;
}

header .bio .info {
  @include flex(1);
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
}

header .bio .info p {
  display: block;
  width: 100%;
  height: 50px;
}

header .bio .info .start {
  box-sizing: border-box;
  padding-top: 5px;
}

header .bio .info .end{
  position: relative;
}

header .bio .info .end span {
  position: absolute;
  bottom: 0;
}

header .bio .info .name {
  color: #666;
  font-size: 16px;
  padding-right: 5px;
}

header .bio .info .school {
  color: #ccc;
  font-size: 14px;
  padding-left: 5px;
}

header .bio .info .price {
  color: #f96;
  font-size: 13px;
}

header h2 {
  color: white;
  text-align: start;
  font-size: 16px;
  background-color: #9cf;
  width: 100%;
  text-indent: 1em;
  padding: 5px 0;
}

.content {
  margin-top: 5px;
  padding-bottom: 66px;
  background-color: #f7f0f0;
}

.cert {
  font-size: 14px;
  color: #a7aaad;
  width: 100%;
  @include display-flex(inline-flex);
  @include justify-content(center);
  text-align: center;
  margin: 20px 0;
}

.cert-box {
  @include flex(1);
  margin: 15px 0;
}

.cert-box span {
  margin-left: 34px;
  position: relative;
}

@mixin icon() {
  content: '';
  position: absolute;
  left: -34px;
  bottom: 0;
  width: 34px;
  height: 33px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: baseline;
}

.cert-box span::before {
  @include icon;
}

.lgxrz span::before {
  background-image: url('/images/3_03.png');
}
.wytk span::before {
  background-image: url('/images/3_05.png');
}

.zxwd span::before {
  background-image: url('/images/3_08.png');
}

.method,
.process,
.price {
  background-color: white;
}

.method span {
  display: block;
  position: relative;
  padding-left: 60px;
  padding-bottom: 20px;
  vertical-align: middle;
}

.method .title {
  padding-top: 20px;
  color: #9cf;
  font-size: 16px;
  border-bottom: 1px #babec1 solid;
  margin-bottom: 20px;
}

.method .title::before {
  @include icon;
  background-image: url('/images/4_03.png');
  vertical-align: middle;
  left: 20px;
  bottom: 15px;
}

.method .wx {
  color: #333;
  font-size: 14px;
  margin-bottom: 40px;
}

.method .wx::before {
  @include icon;
  left: 20px;
  bottom: 10px;
  background-image: url('/images/4_06.png');
}

.method .wx::after {
  @include icon;
  right: 5px;
  bottom: 10px;
  background-image: url('/images/4_08.png');
  left: initial;
}

.process {
  text-align: center;
  color: #999;
  font-size: 14px;
  line-height: 2;
  border-bottom: 2px dashed #999;
}

.process .split {
  color: #333;
  padding: 0 5px;
}

.content .price {
  font-size: 14px;
  line-height: 2;
  padding: 0 20px;
}

.price .line1 {
  padding-top: 10px;
}

.price .line1,
.price .line2 {
  @include display-flex(inline-flex);
  @include justify-content(space-between);
  width: 100%;
}

.price .line1 {
  color: #333;
}

.price .line2 {
  color: #f96;
}

footer {
  position: fixed;
  bottom: 0;
  max-width: 720px;
  width: 100%;
  height: 46px;
  @include display-flex(inline-flex);
  @include align-items(center);
  background-color: white;
}

footer .back {
  width: 20%;
  max-width: 30px;
  background-color: #7ecef4;
  display: block;
  height: 100%;
  @include display-flex(inline-flex);
  @include justify-content(center);
  @include align-items(center);
}

footer .back img {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

footer .ask {
  @include flex(1);
  @include display-flex(inline-flex);
  @include justify-content(center);
  @include align-items(center);
  height: 100%;
  background-color: #63adf6;
  color: white;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer .total {
  color: #3160b7;
  font-size: 16px;
  vertical-align: middle;
  padding: 0 10px;
}
